TOKEN=""
MONGO_URI=""
MONGO_DBNAME=""

# Login api, login my.callofduty.com
API_USERNAME=""
API_PASSWORD=""

# TOKEN 2CAPTCHA https://2captcha.com/ - Use for prod
TOKEN_2CAPTCHA=""
# TOKEN SSO COOKIE From https://profile.callofduty.com/ Application / Cookie ACT_SSO_COOKIE - Use for dev
TOKEN_SSO_COOKIE=""

GUILD_ID=
ADMIN_ROLE_ID=

# Duration max de rechercher d'une game
MAX_DURATION=1200
# Interval de recherche des games en sec
FIND_GAME_INTERVAL=120